.restaurantList{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
}

@media (min-width: 800px){
    .restaurantList{
        grid-template-columns: repeat(3, 1fr);
    }    
}